/.ipynb_checkpoints/*
/.python/*
/.jupyter/*
/.local/*
/Images/*
/.cache/*
/.ipython/*
/.keras/*
/__pycache__/*
/TensorFlow-Tutorials/*
/Images/*
/outputCSV/*
/checkpoint/*
/checkpoints/*
/previous_test/*
/FORKchekpoint/*
/FORKoutputCSV/*
/ogr/*
/tensorflow_datasets/*
