/.ipynb_checkpoints/*
/.python/*
/.jupyter/*
/.local/*
/Images/*
/.cache/*
/.ipython/*
/.keras/*
/__pycache__/*
/TensorFlow-Tutorials/*
/Images/*
/outputCSV/*
/checkpoint/*
/checkpoints/*
/previous_test/*
/FORKchekpoint/*
/FORKoutputCSV/*
/outputgraph/*
/ogr/*
/CSV/*
/Modules/.ipynb_checkpoints/*
/Modules/__pycache__/*
/tensorflow_datasets/*
/Poseidon.ipynb
/slumage.ipynb
/Deep_Nairobi.ipynb
